html, body, div, ul, h1, article {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
}

body {
  width: 1000px;
}

.tabs, .clock {
  width: 40%;
}

.tabs h1 {
  border: 2px solid black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 0;
  background: lightblue;
  width: 33%;
  text-align: center;
}

.tabs h1:hover {
  background: blue;
  cursor: pointer;
}

.tabs ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tabs article, .clock {
  border: 2px solid black;
  text-align: center;
}

.clock {
  font-family: 'Space Mono', monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clock-right {
  text-align: right;
}
